<a href="https://colab.research.google.com/github/MK316/Spring2023/blob/main/grouping_torevise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ğŸ’¦ Random grouping

## [1] Import packages, read a file 

Note: Column name as "Names"

In [1]:
#@markdown Import packages
import pandas as pd
import numpy as np
import random

sample: https://raw.githubusercontent.com/MK316/Spring2023/main/data/att_sample.csv

sample2: https://raw.githubusercontent.com/MK316/Spring2023/main/Engpro/engpro_att.csv  

sample3: https://raw.githubusercontent.com/MK316/Spring2023/main/data/engling23_att.csv

sample4: https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_att.csv

In [2]:
#@markdown Read attendance list, define grouping(l, n)
url = input()
df = pd.read_csv(url, encoding="cp949")
attlist = df.Names.values.tolist()

def grouping(l, n):
    for i in range(0, len(l), n):
        yield l[i:i + n]

df

https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_att.csv

    NO         SID  Year Names
0    1  2019012539     2   ì—¬ì˜ë¡
1    2  2019012542     2   ì´ê°•í˜„
2    3  2020012456     2   ê°•ê¸°ë¥­
3    4  2020012463     2   ê¹€ì¢…ìš±
4    5  2020012471     2   ì•ˆìœ¤ëˆ
5    6  2020012472     2   ì´ê²½ë•
6    7  2020012480     2   í™©ìŠ¹ì¤€
7    8  2021012464     2   ê¹€ì„ ë¹ˆ
8    9  2022013192     2   ê°•ì„ ìœ
9   10  2022013193     2   ê¶Œì˜í˜„
10  11  2022013194     2   ê¹€ê±´í¬
11  12  2022013195     2   ê¹€ë¯¸ì§„
12  13  2022013196     2   ê¹€ë¯¼ì˜
13  14  2022013198     2   ê¹€ì˜¤í˜„
14  15  2022013199     2   ê¹€ì€í˜œ
15  16  2022013200     2   ê¹€í•˜ë¹ˆ
16  17  2022013201     2   ë§ˆë™í™˜
17  18  2022013206     2   ì„œë‹¤ì€
18  19  2022013207     2   ì†ì—°ìš°
19  20  2022013209     2   ì•ˆì†Œë¯¸
20  21  2022013210     2   ì•ˆìˆ˜ë¯¼
21  22  2022013211     2   ì˜¥ìŠ¹ë¯¼
22  23  2022013212     2   ì´ë‹¤í˜„
23  24  2022013213     2   ì´ì°¬ë¯¼
24  25  2022013214     2   ì„ìˆ˜ì—°
25  26  2022013216     2   ì¡°ì •ë˜
26  27  2022080242     4   ì´ì†Œì˜
27  28  2022080243     4   ì •ì¸í˜œ
28  29  2022090014     4   ì´ì •ë¯¼
29  30  2021012510     3   ë°©ì˜ˆì›

## [2] Random grouping

In [3]:
#@markdown ğŸŒ€ Random grouping of size "n"
random.shuffle(attlist)

gsize = input("Size of each group: ")
gs = int(gsize)

mylist = list(grouping(attlist, gs))
ngroups = len(list(grouping(attlist, gs)))

print(mylist)
print("="*50)
print("Number of groups: %d in total."%ngroups)

gn = ngroups
gname = []
df1 = pd.DataFrame()
for i in range(0,gn):
  nam = "G" + str(i+1)
  gname.append(nam)

df1['Group'] = gname
df1['Members'] = mylist
df1

Size of each group: 4
[['ì¡°ì •ë˜', 'ê°•ê¸°ë¥­', 'ì•ˆì†Œë¯¸', 'í™©ìŠ¹ì¤€'], ['ê¹€ì¢…ìš±', 'ì´ì†Œì˜', 'ë§ˆë™í™˜', 'ì„ìˆ˜ì—°'], ['ì†ì—°ìš°', 'ê¹€ì˜¤í˜„', 'ì •ì¸í˜œ', 'ì˜¥ìŠ¹ë¯¼'], ['ê¹€ë¯¼ì˜', 'ì„œë‹¤ì€', 'ì—¬ì˜ë¡', 'ì´ì°¬ë¯¼'], ['ê¶Œì˜í˜„', 'ë°©ì˜ˆì›', 'ê¹€í•˜ë¹ˆ', 'ê°•ì„ ìœ '], ['ì´ë‹¤í˜„', 'ì´ê°•í˜„', 'ê¹€ê±´í¬', 'ê¹€ë¯¸ì§„'], ['ì•ˆìˆ˜ë¯¼', 'ì•ˆìœ¤ëˆ', 'ì´ì •ë¯¼', 'ê¹€ì„ ë¹ˆ'], ['ì´ê²½ë•', 'ê¹€ì€í˜œ']]
==================================================
Number of groups: 8 in total.

  Group               Members
0    G1  [ì¡°ì •ë˜, ê°•ê¸°ë¥­, ì•ˆì†Œë¯¸, í™©ìŠ¹ì¤€]
1    G2  [ê¹€ì¢…ìš±, ì´ì†Œì˜, ë§ˆë™í™˜, ì„ìˆ˜ì—°]
2    G3  [ì†ì—°ìš°, ê¹€ì˜¤í˜„, ì •ì¸í˜œ, ì˜¥ìŠ¹ë¯¼]
3    G4  [ê¹€ë¯¼ì˜, ì„œë‹¤ì€, ì—¬ì˜ë¡, ì´ì°¬ë¯¼]
4    G5  [ê¶Œì˜í˜„, ë°©ì˜ˆì›, ê¹€í•˜ë¹ˆ, ê°•ì„ ìœ ]
5    G6  [ì´ë‹¤í˜„, ì´ê°•í˜„, ê¹€ê±´í¬, ê¹€ë¯¸ì§„]
6    G7  [ì•ˆìˆ˜ë¯¼, ì•ˆìœ¤ëˆ, ì´ì •ë¯¼, ê¹€ì„ ë¹ˆ]
7    G8            [ì´ê²½ë•, ê¹€ì€í˜œ]

In [5]:
df1

  Group               Members
0    G1  [ì¡°ì •ë˜, ê°•ê¸°ë¥­, ì•ˆì†Œë¯¸, í™©ìŠ¹ì¤€]
1    G2  [ê¹€ì¢…ìš±, ì´ì†Œì˜, ë§ˆë™í™˜, ì„ìˆ˜ì—°]
2    G3  [ì†ì—°ìš°, ê¹€ì˜¤í˜„, ì •ì¸í˜œ, ì˜¥ìŠ¹ë¯¼]
3    G4  [ê¹€ë¯¼ì˜, ì„œë‹¤ì€, ì—¬ì˜ë¡, ì´ì°¬ë¯¼]
4    G5  [ê¶Œì˜í˜„, ë°©ì˜ˆì›, ê¹€í•˜ë¹ˆ, ê°•ì„ ìœ ]
5    G6  [ì´ë‹¤í˜„, ì´ê°•í˜„, ê¹€ê±´í¬, ê¹€ë¯¸ì§„]
6    G7  [ì•ˆìˆ˜ë¯¼, ì•ˆìœ¤ëˆ, ì´ì •ë¯¼, ê¹€ì„ ë¹ˆ]
7    G8            [ì´ê²½ë•, ê¹€ì€í˜œ]

In [9]:
s1 = df1['Members'][0]
m1 = s1[0]
n1 = len(df1['Group'])

'ì¡°ì •ë˜'

8

## [3] File saving and cleaning

In [ ]:
#@markdown Save the list to Google drive: 
from google.colab import drive
drive.mount('/content/drive')
fn = input('file name: ')
path = '/content/drive/My Drive/myclass/S2023/' + fn
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df1.to_csv(f, index=False)

print("="*50)
print("Saved file: ")
data = pd.read_csv(path)
print(data)
res = input("Unmount drive? (y or n)")

if res == "y":
  drive.flush_and_unmount()
else:
  print("Okay, the drive is still on.")