<a href="https://colab.research.google.com/github/MK316/Spring2023/blob/main/grouping_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ğŸ’¦ Random grouping (revised)

*update: result file fitting to csv format (0312)

## [1] Import packages, read a file 

Note: Column name as "Names"

In [1]:
#@markdown Import packages
import pandas as pd
import numpy as np
import random

+ sample: https://raw.githubusercontent.com/MK316/Spring2023/main/data/att_sample.csv
+ DL: https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_attfinal.csv

In [ ]:
#@markdown Read attendance list, define grouping(l, n)
url = input()
df = pd.read_csv(url)
attlist = df.Names.values.tolist()

def grouping(l, n):
    for i in range(0, len(l), n):
        yield l[i:i + n]

df.tail()

## [2] Random grouping

In [4]:
#@markdown ğŸŒ€ Random grouping of size "n"
random.shuffle(attlist)

gsize = input("Size of each group: ")
gs = int(gsize)

mylist = list(grouping(attlist, gs))
ngroups = len(list(grouping(attlist, gs)))

print(mylist)
print("="*50)
print("Number of groups: %d in total."%ngroups)

gn = ngroups
gname = []
df1 = pd.DataFrame()
for i in range(0,gn):
  nam = "G" + str(i+1)
  gname.append(nam)

df1['Group'] = gname
df1['Members'] = mylist

df1

Size of each group: 4
[['ì„œë‹¤ì€', 'ì´ê²½ë•', 'ì´ì •ë¯¼', 'ì†ì—°ìš°'], ['ê¹€í•˜ë¹ˆ', 'ê¹€ì¢…ìš±', 'ì—¬ì˜ë¡', 'ì•ˆì†Œë¯¸'], ['í™©ìŠ¹ì¤€', 'ì´ê°•í˜„', 'ê°•ì„ ìœ ', 'ê¹€ì€í˜œ'], ['ì˜¥ìŠ¹ë¯¼', 'ê¶Œì˜í˜„', 'ì´ë‹¤í˜„', 'ê°•ê¸°ë¥­'], ['ì •ì¸í˜œ', 'ë§ˆë™í™˜', 'ì•ˆìœ¤ëˆ', 'ì•ˆìˆ˜ë¯¼'], ['ê¹€ì„ ë¹ˆ', 'ì„ìˆ˜ì—°', 'ê¹€ì˜¤í˜„', 'ì¡°ë¯¼í˜'], ['ì¡°ì •ë˜', 'ê¹€ê±´í¬', 'ë°©ì˜ˆì›', 'ê¹€ë¯¸ì§„'], ['ê¹€ë¯¼ì˜', 'ë°©ì„ í˜•', 'ì´ì°¬ë¯¼']]
==================================================
Number of groups: 8 in total.

  Group               Members
0    G1  [ì„œë‹¤ì€, ì´ê²½ë•, ì´ì •ë¯¼, ì†ì—°ìš°]
1    G2  [ê¹€í•˜ë¹ˆ, ê¹€ì¢…ìš±, ì—¬ì˜ë¡, ì•ˆì†Œë¯¸]
2    G3  [í™©ìŠ¹ì¤€, ì´ê°•í˜„, ê°•ì„ ìœ , ê¹€ì€í˜œ]
3    G4  [ì˜¥ìŠ¹ë¯¼, ê¶Œì˜í˜„, ì´ë‹¤í˜„, ê°•ê¸°ë¥­]
4    G5  [ì •ì¸í˜œ, ë§ˆë™í™˜, ì•ˆìœ¤ëˆ, ì•ˆìˆ˜ë¯¼]
5    G6  [ê¹€ì„ ë¹ˆ, ì„ìˆ˜ì—°, ê¹€ì˜¤í˜„, ì¡°ë¯¼í˜]
6    G7  [ì¡°ì •ë˜, ê¹€ê±´í¬, ë°©ì˜ˆì›, ê¹€ë¯¸ì§„]
7    G8       [ê¹€ë¯¼ì˜, ë°©ì„ í˜•, ì´ì°¬ë¯¼]

In [12]:
a = 1
b = str(a)
type(b)

str

In [16]:
#@markdown Group members in csv: column modification (df2)
n = input('Number of groups: ')
n = int(n)
df2 = pd.DataFrame()
nlist1 = []
nlist2 = []
nlist3 = []
nlist4 = []
group = []

for i in range(0,n):
  gn = str(i+1)
  gr = 'G'+ gn
  group.append(gr)


for i in range(0,n):
    list = df1['Members'][i]
    if len(list) == 4:
        n1 = df1['Members'][i][0]
        n2 = df1['Members'][i][1]
        n3 = df1['Members'][i][2]
        n4 = df1['Members'][i][3]
        nlist1.append(n1)
        nlist2.append(n2)
        nlist3.append(n3)
        nlist4.append(n4)
    elif len(list) == 3:
        n1 = df1['Members'][i][0]
        n2 = df1['Members'][i][1]
        n3 = df1['Members'][i][2]
        n4 = 'Noname'
        nlist1.append(n1)
        nlist2.append(n2)
        nlist3.append(n3)
        nlist4.append(n4)
    elif len(list) == 2:
        n1 = df1['Members'][i][0]
        n2 = df1['Members'][i][1]
        n3 = 'Noname'
        n4 = 'Noname'
        nlist1.append(n1)
        nlist2.append(n2)
        nlist3.append(n3)
        nlist4.append(n4)
    elif len(list) == 1:
        n1 = df1['Members'][i][0]
        n2 = 'Noname'
        n3 = 'Noname'
        n4 = 'Noname'
        nlist1.append(n1)
        nlist2.append(n2)
        nlist3.append(n3)
        nlist4.append(n4)

df2['Group'] = group
df2['Member1'] = nlist1
df2['Member2'] = nlist2
df2['Member3'] = nlist3
df2['Member4'] = nlist4

df2

Number of groups: 8

  Group Member1 Member2 Member3 Member4
0    G1     ì„œë‹¤ì€     ì´ê²½ë•     ì´ì •ë¯¼     ì†ì—°ìš°
1    G2     ê¹€í•˜ë¹ˆ     ê¹€ì¢…ìš±     ì—¬ì˜ë¡     ì•ˆì†Œë¯¸
2    G3     í™©ìŠ¹ì¤€     ì´ê°•í˜„     ê°•ì„ ìœ      ê¹€ì€í˜œ
3    G4     ì˜¥ìŠ¹ë¯¼     ê¶Œì˜í˜„     ì´ë‹¤í˜„     ê°•ê¸°ë¥­
4    G5     ì •ì¸í˜œ     ë§ˆë™í™˜     ì•ˆìœ¤ëˆ     ì•ˆìˆ˜ë¯¼
5    G6     ê¹€ì„ ë¹ˆ     ì„ìˆ˜ì—°     ê¹€ì˜¤í˜„     ì¡°ë¯¼í˜
6    G7     ì¡°ì •ë˜     ê¹€ê±´í¬     ë°©ì˜ˆì›     ê¹€ë¯¸ì§„
7    G8     ê¹€ë¯¼ì˜     ë°©ì„ í˜•     ì´ì°¬ë¯¼  Noname

## [3] File saving and cleaning

In [17]:
#@markdown Save the list to Google drive: 
from google.colab import drive
drive.mount('/content/drive')
fn = input('file name: ')
path = '/content/drive/My Drive/myclass/S2023/' + fn
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df2.to_csv(f, index=False)

print("="*50)
print("Saved file: ")
data = pd.read_csv(path)
print(data)
res = input("Unmount drive? (y or n)")

if res == "y":
  drive.flush_and_unmount()
else:
  print("Okay, the drive is still on.")

Mounted at /content/drive
file name: dltest.csv
==================================================
Saved file:
  Group Member1 Member2 Member3 Member4
0    G1     ì„œë‹¤ì€     ì´ê²½ë•     ì´ì •ë¯¼     ì†ì—°ìš°
1    G2     ê¹€í•˜ë¹ˆ     ê¹€ì¢…ìš±     ì—¬ì˜ë¡     ì•ˆì†Œë¯¸
2    G3     í™©ìŠ¹ì¤€     ì´ê°•í˜„     ê°•ì„ ìœ      ê¹€ì€í˜œ
3    G4     ì˜¥ìŠ¹ë¯¼     ê¶Œì˜í˜„     ì´ë‹¤í˜„     ê°•ê¸°ë¥­
4    G5     ì •ì¸í˜œ     ë§ˆë™í™˜     ì•ˆìœ¤ëˆ     ì•ˆìˆ˜ë¯¼
5    G6     ê¹€ì„ ë¹ˆ     ì„ìˆ˜ì—°     ê¹€ì˜¤í˜„     ì¡°ë¯¼í˜
6    G7     ì¡°ì •ë˜     ê¹€ê±´í¬     ë°©ì˜ˆì›     ê¹€ë¯¸ì§„
7    G8     ê¹€ë¯¼ì˜     ë°©ì„ í˜•     ì´ì°¬ë¯¼  Noname
Unmount drive? (y or n)y