<a href="https://colab.research.google.com/github/MK316/Spring2023/blob/main/S23_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spring 2023 Midterm results

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:
# url = "/content/drive/MyDrive/Engpro23_Midterm_grade.csv"
url = "/content/drive/MyDrive/S23_Engling_grades.csv"

df = pd.read_csv(url, encoding = "cp949")

In [31]:
drive.flush_and_unmount()

In [ ]:
selected = ["SID","Total"]
data = df[selected]


data.head()

In [ ]:
data = df["Total"]
plt.boxplot(data)

In [36]:
count = input("How many students? e.g., 26 or 30")
n = int(count)
d1 = df.sort_values(by=['Total'], ascending = False)
d1.reset_index(drop=True, inplace=True)
ID = range(1,n+1); d1['ID'] = ID; d1['Total'].head()

How many students? e.g., 26 or 3030

0    116.0
1    114.5
2    112.5
3    111.5
4    108.5
Name: Total, dtype: float64

In [ ]:
d1['Total'].hist()

In [ ]:
d1.plot(x='ID', y='Total', style='.')
plt.ylim(0, 130)