<a href="https://colab.research.google.com/github/MK316/Spring2023/blob/main/DL/dl230503_answerkey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Digital Literacy Midterm Spring 2023 (5/3, Wednesday)**

There are two parts:

ðŸŒ€**Part I: Coding in Colab (20 questions, 30 points): max 40 mins**

+ Q1~10 (1 point each * 10 = 10)
+ Q11~Q20 (2 points each * 10 = 20)


ðŸŒ€**Part II: Google Form (30 questions, 30 points)**

Total 50 minutes are allowed.

---
##**Instructions**

When times up (max 40 mins), save this copy as a pdf file (to upload) AND to your github repository with the following file name format:


## ðŸ“Œ Files: 
##**1) dl230503_yourid.pdf**
##**2) dl230503_yourid.ipynb**
---

# ðŸŒ€**Part I: Coding in Colab (20 questions, 30 points): max 40 mins**

In [1]:
yourname = input("Type your name here: ")

Type your name here: MK316

##Q1. Create a list called fruits and add three of your favorite fruits to it. Then, print the list.

In [2]:
fruits = ["strawberry","watermelon","blueberry"]
print(fruits)

['strawberry', 'watermelon', 'blueberry']

##Q2. Create a variable called **_name_** and ask the user to enter their name. Then, print a message that says "Hello, [name]!".

In [5]:
name = input("Type your name: ")
print("Hello,", name+"!")

Type your name: MK316
Hello, MK316!

Or another way:

In [6]:
name = input("Type your name: ")
print(f"Hello, {name}!")

Type your name: MK316
Hello, MK316!

##Q3. Create a variable called **_age_** and ask the user to enter their age. Then, print a message that says "You are [age] years old".

In [8]:
age = input("How old are you? ")
print("You are",age,"years old.")

How old are you? 19
You are 19 years old.

Or another way:

In [9]:
age = input("How old are you? ")
print(f"You are {age} years old.")

How old are you? 23
You are 23 years old.

##Q4. Create a dictionary called **_person_** with keys name, age, and ID. Set the values to your own name, age, and address. Then, print the dictionary.

In [13]:
person = {"name": "MK316", "age": 23, "ID": 22012342}
print(person)

{'name': 'MK316', 'age': 23, 'ID': 22012342}

how to read dictionary data. Run the code below and see what is happening with f and {variable} in print().

In [15]:
name = person['name']
age = person['age']
myid = person["ID"]

print(f"I'm {name}, {age} years old. My ID number is {myid}")

I'm MK316, 23 years old. My ID number is 22012342

##Q5. Create a variable called **_num1_** and set it to 5. Create another variable called **_num2_** and set it to 10. Add num1 and num2 together and print the result.

In [16]:
#Create a variable called num1 and set it to 5
num1 = 5

#Create another variable called num2 and set it to 10.
num2 = 10

#Add num1 and num2 together and print the result.

print(num1+num2)

15

##Q6. Create a variable called **_num3_** and set it to 3. Create another variable called **_num4_** and set it to 2. Divide num3 by num4 and print the result.

In [17]:
num3 = 3
num4 = 2

num3/num4

1.5

##Q7. Create a variable called **_sentence_** and set it to "The quick brown fox jumps over the lazy dog". Use the **split()** function to split the sentence into a list of words. Then, print the list.

In [18]:
#Create a variable called sentence and set it to "The quick brown fox jumps over the lazy dog".

sentence = "The quick brown fox jumps over the lazy dog."

#Use the split() function to split the sentence into a list of words. 

words = sentence.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

##Q8. Create a list called **_colors_** and add three of your favorite colors to it. Use the **join()** function to join the list into a string separated by commas. Then, print the string.

In [19]:
#Create a list called colors and add three of your favorite colors to it.

colors = ["white", "yellow","blue"]

a = ", ".join(colors)
print(a)

white, yellow, blue

##Q9. Create a variable called **_number_** and set it to 5. Use the **str()** function to convert the number to a string. Then, print number + 7

In [21]:
#Create a variable called number and set it to 5.
number = 5

#Use the str() function to convert the number to a string. 
number = str(number)

# To do 'number + 7", both have to be either integers or strings
print(number + "7")

#or

print(int(number)+7)

57
12

##Q10. Create a variable called **_my_string_** and set it to "Hello, world!". Use the index() function to find the index of the letter "w" in the string. Then, print the index.

In [26]:
my_string = "Hello, world!"

#my_string.index('w') or
my_string[7]

'w'

##Q11. Create a variable called **_my_list_** and set it to [1, 2, 3, 4, 5]. Use the len() function to find the length of the list. Then, print the length.

In [28]:
my_list = [1,2,3,4,5]
print(len(my_list))

5

##Q12. Create a variable called **_my_string_** and set it to "Hello, world!". Use slicing to print the first 5 characters of the string.

In [29]:
my_string = "Hello, world!"
my_string[:5] #0,1,2,3,4 (5 characters)

'Hello'

##Q13. Create a list called **_numbers_**. Using the random.randint() function, add five random integers to it. Then, print the list. 

**Note:** You should not write the random number on your own. The code should take the random number and add it to your list.

In [39]:
#Create a list called numbers.
numbers = []

#Using the random.randint() function, add five random integers to it. 
import random

for i in range(1,5):
  n = random.randint(0,10)
  numbers.append(n)
  i = i+1

print(numbers)

[2, 6, 0, 1]

##Q14. [1] Create a list of your favorite colors called **color_list** with at least three colors. [2] Use a **for loop** to iterate through the list and print each color.

In [40]:
color_list = ["white","blue","yellow"]

for c in color_list:
  print(c)

white
blue
yellow

## Q15. Create a list of your favorite foods called **food_list** with at least three foods. Use a **for loop** to iterate through the list and print each food in uppercase letters.

In [43]:
food_list = ["spaghetti","pancakes","jjambbong"]

for i in food_list:
  name = i.upper()
  print(name)

SPAGHETTI
PANCAKES
JJAMBBONG

##Q16.Create a list of your favorite animals called **animal_list** with at least three animals. Use a **for loop** to iterate through the list and print each animal, along with a message saying "I love [animal]!"

In [46]:
animal_list = ["rabbit","sea otter","giraffe"]

for animal in animal_list:
  print("I love", animal+"!")

I love rabbit!
I love sea otter!
I love giraffe!

Or another way

In [45]:
animal_list = ["rabbit","sea otter","giraffe"]

for animal in animal_list:
  print(f"I love {animal}!")

I love rabbit!
I love sea otter!
I love giraffe!

##Q17. The following code should create a list of numbers from 1 to 5 and print the sum of the numbers, but there is an error. Identify and fix the error so that the code runs with no error.

In [ ]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print("The sum is: " + total)

To fix the error:

In [ ]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print("The sum is: ", total)

Or another way

In [48]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print("The sum is: %s."%total)

The sum is: 15.

In [49]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print(f"The sum is: {total}.")

The sum is: 15.

##Q18. The following code should create a dictionary of fruit names and their corresponding colors, and then print the color of the fruit "banana", but there is an error. Identify and fix the error so that the code runs with no error.

In [ ]:
fruit_dict = {'apple': 'red', 'banana': 'yellow', 'orange': 'orange'}
print(fruit_dict[banana])

NameError: ignored

To fix the error:

In [50]:
fruit_dict = {'apple': 'red', 'banana': 'yellow', 'orange': 'orange'}
print(fruit_dict["banana"])

yellow

## Q19. Read the code below and identify the error. Then, fix the error so that the program outputs the fourth item (i.e., 'grape') in the list.

In [ ]:
fruit = ["apple", "banana", "orange", "grape"]
print(fruit[4])

IndexError: ignored

To fix the error:

In [51]:
fruit = ["apple", "banana", "orange", "grape"]
print(fruit[3])

grape

##Q19. The following code should create a string containing the words "apple", "banana", and "orange" separated by commas. Split the string into a list of the individual words, so that the output becomes ["apple", "banana", "orange"] and not ["apple,banana,orange"].

In [ ]:
my_string = "apple,banana,orange"
my_list = my_string.split(" ")
print(my_list)

['apple,banana,orange']

In [52]:
my_string = "apple,banana,orange"
my_list = my_string.split(",")
print(my_list)

['apple', 'banana', 'orange']

##Q20. Create a language application that changes a declarative sentence to an imperative sentence. Test the app with the following sentences: 

1. "You take your seat." > (output) Take your seat!
2. "You bring your book." > (output) Bring your book!

+ Step1. Start with the first sentence, and add code lines in order to get the output ('Take your seat!')
+ Step2. Make another code cell and make a user interactive app using input(). Here you should be able to get the output of the second sentence when the user type the second sentence.

In [56]:
s = "You take your seat."

sword = s.split()
newsentence = ' '.join(sword[1:])
print(newsentence)

# To upper

newsentence[0].upper() + newsentence[1:]

take your seat.

'Take your seat.'

In [59]:
# Type "You bring your book" or "You go to the library right now."
s = input()

sword = s.split()
newsentence = ' '.join(sword[1:])
newsentence[0].upper() + newsentence[1:]

You go to the library right now.

'Go to the library right now.'

---
# ðŸ“ŒSubmission: 2 submissions

[1] pdf submission (File > Print > pdf print), save pdf on the desktop, get it ready to upload your file to the google form below. 
+ File name: dl230503_yourid.pdf

[2] Save this file in your github repository. 
+ File name: dl230503_yourid.ipynb

# ðŸŒ€ **Part II: Using a Google form (30 questions, 30 points)**

[Click here to start](https://forms.gle/eidnsEzd4VkRXC4i7)